<%- include('header'); -%>
  <div class="box" id="heading">
    <h1>This is the about page</h1>
  </div>

  <div class="box">
    <p>This is an awesome to-do list app made using node.js with express.js</p>
  </div>
<%- include('footer'); -%>